@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-50: 344 25% 97%;
    --primary-100: 343 34% 86%;
    --primary-200: 343 33% 79%;
    --primary-300: 342 33% 72%;
    --primary-400: 342 33% 59%;
    --primary-500: 342 74% 31%;
    --primary-600: 342 73% 25%;
    --primary-700: 342 74% 19%;
    --primary-800: 342 75% 12%;
    --primary-900: 341 74% 9%;
    --primary-foreground: 0 0% 100%;

    /* shadcn/ui semantic tokens */
    --background: 0 0% 100%;
    --foreground: 0 0% 15%;

    --secondary: 220 9% 94%;
    --secondary-foreground: 220.9 39.3% 11%;

    --warning: 220 9% 94%;
    --warning-foreground: 220.9 39.3% 11%;

    --error: 220 9% 94%;
    --error-foreground: 220.9 39.3% 11%;

    --success: 220 9% 94%;
    --success-foreground: 220.9 39.3% 11%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --radius: 0.5rem;
    --ring: 262.1 83.3% 57.8%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --accent: 155.62 100% 50.78%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-normal text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
